@using FF1Lib;

<div id="classblursings" class="tabcontent framed-content clearfix">
    <h3>Planto Blurings</h3>
    <div class="col1">
        <h4>Fighter</h4>
        <h4>Stats and Gold</h4>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FiStrpooldropdown" @bind-Value="Flags.Fighterstr">Strength</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FiAgipooldropdown" @bind-Value="Flags.Fighteragi">Agility</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FiVitpooldropdown" @bind-Value="Flags.Fightervit">Vitality</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FiLuckpooldropdown" @bind-Value="Flags.Fighterluck">Luck</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FiHPPooldropdown" @bind-Value="Flags.FighterHP">HP</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FiHitPercentpooldropdown" @bind-Value="Flags.FighterHit">Hit Percentage</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FiMDefpooldropdown" @bind-Value="Flags.FighterMdef">Magic Defense</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FiIntpooldropdown" @bind-Value="Flags.FighterInt">Intelligence</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FiGoldpooldropdown" @bind-Value="Flags.Fightergold">Starting Gold</EnumDropDown>

        <h4>Blessings</h4>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiEquipShirtscheckbox" @bind-Value="Flags.FiEquipShirts">Equip Shirts</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiImThorcheckbox" @bind-Value="Flags.FiImpThor">Improved Thor Hammer</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiImpCatclawcheckbox" @bind-Value="Flags.FiImpCatclaw">Improved Catclaw</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" id="FiLegendarySwordscheckbox" @bind-Value="Flags.FiLegendarySwords">Equip Legendary Swords</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiWoodAdeptcheckbox" @bind-Value="Flags.FiWoodAdept">Wood Adept</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiSteelLordcheckbox" @bind-Value="Flags.FiSteelLord">Steel Lord</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHurtUndeadcheckbox" @bind-Value="Flags.FiHurtUndead">Hurt Undead</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHurtDragoncheckbox" @bind-Value="Flags.FiHurtDragon">Hurt Dragon</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHurtAllcheckbox" @bind-Value="Flags.FiHurtAll">Hurt All</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiFiResistSelectcheckbox" @bind-Value="Flags.FiResistSelect">Resistances</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.FiResistSelect != false)" Id="FiResistStatuscheckbox" @bind-Value="Flags.FiResistStatus">Status</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.FiResistSelect != false)" Id="FiResistPoisoncheckbox" @bind-Value="Flags.FiResistPoison">Poison</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.FiResistSelect != false)" Id="FiResistTimecheckbox" @bind-Value="Flags.FiResistTime">Time</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.FiResistSelect != false)" Id="FiResistDeathcheckbox" @bind-Value="Flags.FiResistDeath">Death</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.FiResistSelect != false)" Id="FiResistFirecheckbox" @bind-Value="Flags.FiResistFire">Fire</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.FiResistSelect != false)" Id="FiResistIcecheckbox" @bind-Value="Flags.FiResistIce">Ice</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.FiResistSelect != false)" Id="FiResistLitcheckbox" @bind-Value="Flags.FiResistLit">Lightning</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.FiResistSelect != false)" Id="FiResistEarthcheckbox" @bind-Value="Flags.FiResistEarth">Earth</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistPEDTScheckbox" @bind-Value="Flags.FiResistPEDTS">Resist PEDTS</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistAllcheckbox" @bind-Value="Flags.FiResistAll">Resist All</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiPlus50XPcheckbox" @bind-Value="Flags.FiPlus50XP">Plus 50% XP</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiPlus2MdefLevelcheckbox" @bind-Value="Flags.FiPlus2MdefLevel">+2 Mdef/Lvl</CheckBox>
        <EnumDropDown UpdateToolTip="UpdateToolTipID" Id="FiMagicdropdown" @bind-Value="Flags.FighterMagicBonus">Spell Bonus</EnumDropDown>
        <CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="Flags.MpGainOnMaxGainMode == MpGainOnMaxGain.Blursed" Id="FiMaxMPPluscheckbox" @bind-Value="Flags.FiMaxMPPlus">Max+Mp+</CheckBox>

        <h4>Maluses</h4>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiBMHPcheckbox" @bind-Value="Flags.FiBMHP">BlackMage HP</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiMinusOneHitcheckbox" @bind-Value="Flags.FiMinusOneHit">-1Hit%/Lvl</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiMinusOneMdefcheckbox" @bind-Value="Flags.FiMinusOneMdef">-1Mdef/Lvl</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiThiefWeaponscheckbox" @bind-Value="Flags.FiThWeapons">Thief Weapons</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoBraceletcheckbox" @bind-Value="Flags.FiNoBracelet">No Bracelets</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoProRingcheckbox" @bind-Value="Flags.FiNoProRing">No ProRing</CheckBox>

        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FighterMasaCursedropdown" @bind-Value="Flags.FighterMasaCurse">Masamune Curse</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FighterRibbonCursedropdown" @bind-Value="Flags.FighterRibbonCurse">Ribbon Curse</EnumDropDown>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FighterNoPromoArmorcheckbox" @bind-Value="Flags.FiNoPromoArmor">No Armor on Promotion</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FighterNoPromoSpellscheckbox" @bind-Value="Flags.FiNoPromoSpells">No Spells on Promotion</CheckBox>

        <h4>Key Items</h4>

        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="FighterKIdropdown" @bind-Value="Flags.FighterKI">Start with Key Item</EnumDropDown>

        <h4>BlackBelt</h4>
        <h4>Stats and Gold</h4>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBStrpooldropdown" @bind-Value="Flags.BBStr">Strength</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBAgipooldropdown" @bind-Value="Flags.BBAgi">Agility</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBVitpooldropdown" @bind-Value="Flags.BBVit">Vitality</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBLuckpooldropdown" @bind-Value="Flags.BBLuck">Luck</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBHPPooldropdown" @bind-Value="Flags.BBHP">HP</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBHitPercentpooldropdown" @bind-Value="Flags.BBHit">Hit Percentage</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBMDefpooldropdown" @bind-Value="Flags.BBMdef">Magic Defense</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBGoldpooldropdown" @bind-Value="Flags.BBGold">Starting Gold</EnumDropDown>

        <h4>Blessings</h4>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBEquipShirtscheckbox" @bind-Value="Flags.BBEquipShirts">Equip Shirts</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="=BBEquipAxescheckbox" @bind-Value="Flags.BBEquipAxes">Equip Axes</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBequipSheildscheckbox" @bind-Value="Flags.BBEquipShields">Equip Shields</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBEquipHempBonkcheckbox" @bind-Value="Flags.BBEquipHelmBonk">Equip Helms and Gauntlets</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBThWeaponscheckbox" @bind-Value="Flags.BBEquipThWeapons">Equip Thief Weapons</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBLegendarySwordscheckbox" @bind-Value="Flags.BBLegendarySwords">Equip Legendary Swords</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBRMAmorcheckbox" @bind-Value="Flags.BBRMArmor">Equip Red Mage Armor</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBFighterWeaponscheckbox" @bind-Value="Flags.BBFighterWeapons">Equip Fighter Weapons</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBWoodAdeptcheckbox" @bind-Value="Flags.BBWoodAdept">Wood Adept</CheckBox>


        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBHurtUndeadcheckbox" @bind-Value="Flags.BBHurtUndead">Hurt Undead</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBHurtDraboncheckbox" @bind-Value="Flags.BBHurtDragon">Hurt Dragon</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBHurtAllcheckbox" @bind-Value="Flags.BBHurtAll">Hurt All</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistSelectcheckbox" @bind-Value="Flags.BBResistSelect">Resistances</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.BBResistSelect != false)" Id="BBResistStatuscheckbox" @bind-Value="Flags.BBResistStatus">Status</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.BBResistSelect != false)" Id="BBResistPoisoncheckbox" @bind-Value="Flags.BBResistPoison">Poison</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.BBResistSelect != false)" Id="BBResistTimecheckbox" @bind-Value="Flags.BBResistTime">Time</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.BBResistSelect != false)" Id="BBResistDeathcheckbox" @bind-Value="Flags.BBResistDeath">Death</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.BBResistSelect != false)" Id="BBResistFirecheckbox" @bind-Value="Flags.BBResistFire">BBre</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.BBResistSelect != false)" Id="BBResistIcecheckbox" @bind-Value="Flags.BBResistIce">Ice</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.BBResistSelect != false)" Id="BBResistLitcheckbox" @bind-Value="Flags.BBResistLit">Lightning</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.BBResistSelect != false)" Id="BBResistEarthcheckbox" @bind-Value="Flags.BBResistEarth">Earth</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBPlus50XPcheckbox" @bind-Value="Flags.BBPlus50XP">+50% XP</CheckBox>
        <EnumDropDown UpdateToolTip="UpdateToolTipID" Id="BBMagicdropdown" @bind-Value="Flags.BBMagicBonus"> Spell Bonus</EnumDropDown>
        <CheckBox UpdateToolTip="@UpdateToolTipID" IsEnabled="Flags.MDefMode == MDEFGrowthMode.None" Id="BBMasterMdefcheckbox" @bind-Value="Flags.BBMasterMdef">Master +3Mdef/Lvl</CheckBox>

        <h4>Maluses</h4>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBMinusOneHitcheckbox" @bind-Value="Flags.BBMinusOneHit">-1Hit%/Lvl</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBMinusOneMdefcheckbox" @bind-Value="Flags.BBMinusOneMdef"></CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBUnarmedcheckbox" @bind-Value="Flags.BBUnarmed">Unarmed Only After Promo</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBNoBraceletscheckbox" @bind-Value="Flags.BBNoBracelet">No Bracelets</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBNoProRingcheckbox" @bind-Value="Flags.BBNoProRing">No ProRing</CheckBox>

        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBMasaCursedropdown" @bind-Value="Flags.BBMasaCurse">Masamune Curse</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBRibbonCursedropdown" @bind-Value="Flags.BBRibbonCurse">Ribbon Curse</EnumDropDown>

        <h4>Key Items</h4>

        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BBKIdropdown" @bind-Value="Flags.BBKeyItems">Start with Key Item</EnumDropDown>

        <h4>White Mage</h4>
        <h4>Stats and Gold</h4>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmStrpooldropdown" @bind-Value="Flags.Wmstr">Strength</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmAgipooldropdown" @bind-Value="Flags.Wmagi">Agility</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmVitpooldropdown" @bind-Value="Flags.Wmvit">Vitality</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmLuckpooldropdown" @bind-Value="Flags.Wmluck">Luck</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmHPPooldropdown" @bind-Value="Flags.WmHP">HP</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmHitPercentpooldropdown" @bind-Value="Flags.Wmhit">Hit Percentage</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmMDefpooldropdown" @bind-Value="Flags.Wmmdef">Magic Defense</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmIntpooldropdown" @bind-Value="Flags.Wmint">Intelligence</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmGoldpooldropdown" @bind-Value="Flags.Wmgold">Starting Gold</EnumDropDown>

        <h4>Blessings</h4>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMEquipAxescheckbox" @bind-Value="Flags.WMEquipAxes">Equip Axes</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMEquipShirtscheckbox" @bind-Value="Flags.WMEquipShirts">Equip Shirts</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMEquipShieldscheckbox" @bind-Value="Flags.WMEquipShields">Equip Shields</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMEquipHelmBonkcheckbox" @bind-Value="Flags.WMEquipHelmBonk">Equip Helm and Gauntlets</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMEquipThWeaponscheckbox" @bind-Value="Flags.WMEquipThWeapons">Equip Thief Weapons</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMLegendarySwordsheckbox" @bind-Value="Flags.WMLegendarySwords">Equip Legendary Swords</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMImpThorcheckbox" @bind-Value="Flags.WMImpThor"></CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMRMArmorcheckbox" @bind-Value="Flags.WMRMArmor">Equip Red Mage Armor</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMFiSwordscheckbox" @bind-Value="Flags.WMFiSwords">Fighter Swords</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMFiArmorcheckbox" @bind-Value="Flags.WMFiArmor">Fighter Armor</CheckBox>

 
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMResistSelectcheckbox" @bind-Value="Flags.WMResistSelect">Resistances</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.WMResistSelect != false)" Id="WMResistStatuscheckbox" @bind-Value="Flags.WMResistStatus">Status</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.WMResistSelect != false)" Id="WMResistPoisoncheckbox" @bind-Value="Flags.WMResistPoison">Poison</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.WMResistSelect != false)" Id="WMResistTimecheckbox" @bind-Value="Flags.WMResistTime">Time</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.WMResistSelect != false)" Id="WMResistDeathcheckbox" @bind-Value="Flags.WMResistDeath">Death</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.WMResistSelect != false)" Id="WMResistFirecheckbox" @bind-Value="Flags.WMResistFire">WMre</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.WMResistSelect != false)" Id="WMResistIcecheckbox" @bind-Value="Flags.WMResistIce">Ice</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.WMResistSelect != false)" Id="WMResistLitcheckbox" @bind-Value="Flags.WMResistLit">Lightning</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Indent IsEnabled="@(Flags.WMResistSelect != false)" Id="WMResistEarthcheckbox" @bind-Value="Flags.WMResistEarth">Earth</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMHurtUndeadcheckbox" @bind-Value="Flags.WMHurtUndead">Hurt Undead</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMHurtDragonscheckbox" @bind-Value="Flags.WMHurtDragon">Hurt Dragon</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMResistPEDTScheckbox" @bind-Value="Flags.WMResistPEDTS">Resist PEDTS</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMPlus2lvl1MP" @bind-Value="Flags.WMPlus2lvl1MP">+2 MP lvl 1</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMPlus1MPAllcheckbox" @bind-Value="Flags.WMPlus1MPAll">+1 MP All Levels</CheckBox>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMImpMPcheckbox" @bind-Value="Flags.WMImpMP">Improved MP</CheckBox>

        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WMPlus2Mdef" @bind-Value="Flags.WMPlus2Mdef">+2 MDef/Lvl</CheckBox>


        <div class="checkbox-cell"></div>
    </div>
    <div class="col2">
        <h4>Thief</h4>
        <h4>Stats and Gold </h4>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="ThStrpooldropdown" @bind-Value="Flags.Thiefstr">Strength</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="ThAgipooldropdown" @bind-Value="Flags.Thiefagi">Agility</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="ThVitpooldropdown" @bind-Value="Flags.Thiefvit">Vitality</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="ThLuckpooldropdown" @bind-Value="Flags.Thiefluck">Luck</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="ThHPPooldropdown" @bind-Value="Flags.ThiefHP">HP</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="ThHitPercentpooldropdown" @bind-Value="Flags.ThiefHit">Hit Percentage</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="ThMDefpooldropdown" @bind-Value="Flags.ThiefMdef">Magic Defense</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="ThIntpooldropdown" @bind-Value="Flags.ThiefInt">Intelligence</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="ThGoldpooldropdown" @bind-Value="Flags.Thiefgold">Starting Gold</EnumDropDown>

        <h4>Blessings</h4>
        <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThEquipShirtscheckbox" @bind-bind-Value="Flags.ThEquipShirts">Equip Shirts</CheckBox>


        <h4>Red Mage</h4>
        <h4>Blessings</h4>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RmStrpooldropdown" @bind-Value="Flags.Rmstr">Strength</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RmAgipooldropdown" @bind-Value="Flags.Rmagi">Agility</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RmVitpooldropdown" @bind-Value="Flags.Rmvit">Vitality</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RmLuckpooldropdown" @bind-Value="Flags.Rmluck">Luck</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RmHPPooldropdown" @bind-Value="Flags.RmHP">HP</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RmHitPercentpooldropdown" @bind-Value="Flags.Rmhit">Hit Percentage</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RmMDefpooldropdown" @bind-Value="Flags.Rmmdef">Magic Defense</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RmIntpooldropdown" @bind-Value="Flags.Rmint">Intelligence</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RmGoldpooldropdown" @bind-Value="Flags.Rmgold">Starting Gold</EnumDropDown>

        <h4>Black Mage</h4>
        <h4>Blessings</h4>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmStrpooldropdown" @bind-Value="Flags.Bmstr">Strength</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmAgipooldropdown" @bind-Value="Flags.Bmagi">Agility</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmVitpooldropdown" @bind-Value="Flags.Bmvit">Vitality</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmLuckpooldropdown" @bind-Value="Flags.Bmluck">Luck</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmHPPooldropdown" @bind-Value="Flags.BmHP">HP</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmHitPercentpooldropdown" @bind-Value="Flags.Bmhit">Hit Percentage</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmMDefpooldropdown" @bind-Value="Flags.Bmmdef">Magic Defense</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmIntpooldropdown" @bind-Value="Flags.Bmint">Intelligence</EnumDropDown>
        <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmGoldpooldropdown" @bind-Value="Flags.Bmgold">Starting Gold</EnumDropDown>

        <div class="checkbox-cell"></div>
    </div>


</div>


@code {
        [Parameter] public FF1Lib.Flags Flags { get; set; }
        [Parameter] public Action<string, MouseEventArgs> UpdateToolTipID { get; set; }
        [Parameter] public bool noTabLayout { get; set; }
        [Parameter] public bool IsOpen { get; set; } = true;
    }


