@using FF1Lib.League;
@using FF1Lib;
@using RomUtilities;
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IJSRuntime JSRuntime
@page "/League"

<ToolTip @ref="ToolTipElement" ToolTipId="@ToolTipId" />



<div id="Blusrings" class="framed-content">

    <h4>League Blursing Settings</h4>
    <p>
        This section allows runners to select the blursings for the NFFRL or just for fun. Fill in your selected blursings, for your classes and then upload a pre-randomized rom.<br>
        For runners in the NFFRL if you do not set all six classes with your teams blursings you will be unable to take any non-set classes. <br />
        Remember that there is a maximum of 3 Bonuses and 3 maluses allowed for a class but a resistance only counts as 1.
    </p>
    <h4>Fighter Blursings</h4>
    <div id="fighter Normal Bonuses" class="framed-content">
        
        <h4>Normal Bonuses</h4>
        <div class="row">
        <div class="col1">
           <h5>Stat Increases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd10Str" @bind-Value="Flags.FiAdd10Str">Plus 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd10Str" @bind-Value="Flags.FiAdd20Str">Plus 20 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd15Agi" @bind-Value="Flags.FiAdd15Agi">Plus 15 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd20Agi" @bind-Value="Flags.FiAdd20Agi">Plus 20 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd25Agi" @bind-Value="Flags.FiAdd25Agi">Plus 25 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd10Vit" @bind-Value="Flags.FiAdd10Vit">Plus 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd20Vit" @bind-Value="Flags.FiAdd20Vit">Plus 20 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd5Luck" @bind-Value="Flags.FiAdd5Luck">Plus 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd10Luck" @bind-Value="Flags.FiAdd10Luck">Plus 10 Luck</CheckBox>
            <h5>Extra Damage</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHurtUndead" @bind-Value="Flags.FiHurtUndead">Hurt Undead</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHurtDragon" @bind-Value="Flags.FiHurtDragon">Hurt Dragons</CheckBox>
            <h5>Resistances(Max 3)</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistPoison" @bind-Value="Flags.FiResistPoison">Resist Poison</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistEarth" @bind-Value="Flags.FiResistEarth">Resist Earth</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistDeath" @bind-Value="Flags.FiResistDeath">Resist Death</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistTime" @bind-Value="Flags.FiResistTime">Resist Time</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistStatus" @bind-Value="Flags.FiResistStatus">Resist Status</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistIce" @bind-Value="Flags.FiResistIce">Resist Ice</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistLit" @bind-Value="Flags.FiResistLit">Resist Lit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistFire" @bind-Value="Flags.FiResistFire">Resist Fire</CheckBox>
            <div class="checkbox-cell"></div>
         </div>
        <div class="col2">
             <h5>Weapons And Armor</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiEquipShirt" @bind-Value="Flags.FiEquipShirt">Equip Shirt</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiLegSwords" @bind-Value="Flags.FiLegSwords">Legendary Swords</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiWoodArmor" @bind-Value="Flags.FiWoodArmor">Wood Adept</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiImpCatclaw" @bind-Value="Flags.FiImpCatclaw">Improved Cat Claw</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiImpThor" @bind-Value="Flags.FiImpThor">Improved Thor Hammer</CheckBox>
         <div class="col3">
               <h5>Magic</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiTelemagic" @bind-Value="Flags.FiTelemagic">Tele Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiBuffmagic" @bind-Value="Flags.FiBuffMagic">Buff Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiSelfmagic" @bind-Value="Flags.FiSelfMagic">Self Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHealmagic" @bind-Value="Flags.FiHealMagic">Heal Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHealplusmagic" @bind-Value="Flags.FiHealMagicPlus">Heal Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiElemmagic" @bind-Value="Flags.FiElemMagic">Elemental Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiElemplusmagic" @bind-Value="Flags.FiElemplusMagic">Elemental Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiCleanMagic" @bind-Value="Flags.FiCleanMagic">Clean Magic</CheckBox>
                <h5>Starting Gold Increase</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold200" @bind-Value="Flags.FiStartGold200">+200GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold400" @bind-Value="Flags.FiStartGold400">+400GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold600" @bind-Value="Flags.FiStartGold600">+600GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold800" @bind-Value="Flags.FiStartGold800">+800GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold1500" @bind-Value="Flags.FiStartGold1500">+1500GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold5000" @bind-Value="Flags.FiStartGold1500">+5000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold20000" @bind-Value="Flags.FiStartGold20000">+20000GP</CheckBox>
                 <div class="checkbox-cell"></div>
             </div>
         </div>
        </div>
      </div>
    <div id="fighter Strong Bonuses" class="framed-content">
    <h4>Strong Bonuses</h4>
    <div class="row">
        <div class="col1">
            <h5>Stat Increases</h5>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd40Str" @bind-Value="Flags.FiAdd40Str">Plus 40 Str</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd50Agi" @bind-Value="Flags.FiAdd50Agi">Plus 50 Agi</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd40Vit" @bind-Value="Flags.FiAdd40Vit">Plus 40 Vit</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd15Luck" @bind-Value="Flags.FiAdd15Luck">Plus 15 Luck</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd80HP" @bind-Value="Flags.FiAdd80HP">Plus 80 HP</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiMdef2Lvl" @bind-Value="Flags.FiMdef2Lvl">Plus 2 Mdef/Lvl</CheckBox>
                <div class="checkbox-cell"></div>
        </div>
        <div class="col2">
            <h5>Other Bonuses</h5>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiSteelFast" @bind-Value="Flags.FiSteelFast">Steel Lord</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHurtAll" @bind-Value="Flags.FiHurtAll">Hurt All</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="Fi50XPFiBB" @bind-Value="Flags.Fi50XPFiBB">Plus 50% EXP</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistAll" @bind-Value="Flags.FiResistAll">Resist All</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistPEDTS" @bind-Value="Flags.FiResistPEDTS">Resist PEDTS</CheckBox>
                <div class="checkbox-cell"></div>
        </div>
    </div>
</div>
    <div id="fighter maluses" class="framed-content">
        <h4>Maluses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown10Str" @bind-Value="Flags.FiDown10Str">Down 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown20Str" @bind-Value="Flags.FiDown20Str">Down 20 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown10Agi" @bind-Value="Flags.FiDown10Agi">Down 10 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown10Vit" @bind-Value="Flags.FiDown10Vit">Down 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown5Luck" @bind-Value="Flags.FiDown5Luck">Down 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown15HP" @bind-Value="Flags.FiDown15HP">Down 15 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown30HP" @bind-Value="Flags.FiDown30HP">Down 30 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiBMHP" @bind-Value="Flags.FiBMHP">Black Mage HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown1HitPercent" @bind-Value="Flags.FiDown1HitPercent">Down 1% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown1MDef" @bind-Value="Flags.FiDown1MDef">Down 1Mdef/Lvl</CheckBox>
                <h5>Starting Gold Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown100GP" @bind-Value="Flags.FiDown100GP">Minus 100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown150GP" @bind-Value="Flags.FiDown150GP">Minus 150GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown350GP" @bind-Value="Flags.FiDown350GP">Minus 350GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown1100GP" @bind-Value="Flags.FiDown1100GP">Minus 1100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown4500GP" @bind-Value="Flags.FiDown4500GP">Minus 4500GP</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
        <div class="col2">
            <h5>Equipment Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoBracelets" @bind-Value="Flags.FiNoBracelets">No Bracelets</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoMasa" @bind-Value="Flags.FiNoMasa">No Masa</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoRibbon" @bind-Value="Flags.FiNoRibbon">No Ribbon</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoProRing" @bind-Value="Flags.FiNoProRing">No Proring</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiThWeaponMal" @bind-Value="Flags.FiThWeaponMal">Thief Weapons</CheckBox>
            <h5>Promotion Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoFiPromoArmor" @bind-Value="Flags.FiNoFiPromoArmor">No Promotion Armor</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoPromoSpells" @bind-Value="Flags.FiNoPromoSpells">No Promotion Spells</CheckBox>
             <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>
   <div id="fighter KI" class="framed-content">
        <h4>Start with Key Items</h4>
        <div class="row">
            <div class="col1">
               
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartCrown" @bind-Value="Flags.FiStartCrown">Crown</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartCrystal" @bind-Value="Flags.FiStartCrystal">Crystal</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartHerb" @bind-Value="Flags.FiStartHerb">Herb</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartTNT" @bind-Value="Flags.FiStartTNT">TNT</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartAdamant" @bind-Value="Flags.FiStartAdamant">Adamant</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartSlab" @bind-Value="Flags.FiStartSlab">Slab</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartRuby" @bind-Value="Flags.FiStartRuby">Ruby</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartRod" @bind-Value="Flags.FiStartRod">Rod</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartChime" @bind-Value="Flags.FiStartChime">Chime</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartCube" @bind-Value="Flags.FiStartCube">Cube</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartBottle" @bind-Value="Flags.FiStartBottle">Bottle</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartOxyale" @bind-Value="Flags.FiStartOxyale">Oxyale</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartLute" @bind-Value="Flags.FiStartLute">Lute</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartTail" @bind-Value="Flags.FiStartTail">Tail</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartKey" @bind-Value="Flags.FiStartKey">Key</CheckBox>
                    <div class="checkbox-cell"></div>
            </div>
            </div>
        </div>
    </div>








@code {
    private LeaugeFlagsViewModel Flags { get; set; } = new LeaugeFlagsViewModel();
    private string ToolTipId = "unupdated";
    private ToolTip ToolTipElement;
    private string StatusMessage = "";



    private void UpdateToolTipID(string Id, MouseEventArgs e)
    {
        ToolTipId = Id;
        ToolTipElement.UpdatePos(ToolTipId, e);
        StateHasChanged();
    }

    void SetStatusMessage(string message)
    {
        StatusMessage = message;
        StateHasChanged();
    }

}

