@using FF1Lib.League;
@using FF1Lib;
@using RomUtilities;
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IJSRuntime JSRuntime
@page "/League"

<ToolTip @ref="ToolTipElement" ToolTipId="@ToolTipId" />



<div id="Blusrings" class="framed-content">

    <h4>League Blursing Settings</h4>
    <p>
        This section allows runners to select the blursings for the NFFRL or just for fun. Fill in your selected blursings, for your classes and then upload a pre-randomized rom.<br>
        For runners in the NFFRL if you do not set all six classes with your teams blursings you will be unable to take any non-set classes. <br />
        Remember that there is a maximum of 3 Bonuses and 3 maluses allowed for a class but a resistance only counts as 1.
    </p>
    <h3>Fighter Blursings</h3>
    <div id="fighter Normal Bonuses" class="framed-content">
        
        <h4>Normal Bonuses</h4>
        <div class="row">
        <div class="col1">
           <h5>Stat Increases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd10Str" @bind-Value="Flags.FiAdd10Str">Plus 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd10Str" @bind-Value="Flags.FiAdd20Str">Plus 20 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd15Agi" @bind-Value="Flags.FiAdd15Agi">Plus 15 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd25Agi" @bind-Value="Flags.FiAdd25Agi">Plus 25 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd10Vit" @bind-Value="Flags.FiAdd10Vit">Plus 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd20Vit" @bind-Value="Flags.FiAdd20Vit">Plus 20 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd5Luck" @bind-Value="Flags.FiAdd5Luck">Plus 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd10Luck" @bind-Value="Flags.FiAdd10Luck">Plus 10 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd20HP" @bind-Value="Flags.FiAdd20HP">Plus 20 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd40HP" @bind-Value="Flags.FiAdd40HP">Plus 40 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd10PerHit" @bind-Value="Flags.FiAdd10PerHit">10% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd20PerHit" @bind-Value="Flags.FiAdd20PerHit">20% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd10Mdef" @bind-Value="Flags.FiAdd10Mdef">Plus 10 Mdef</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd20Mdef" @bind-Value="Flags.FiAdd20Mdef">Plus 20 Mdef</CheckBox>
            <h5>Extra Damage</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHurtUndead" @bind-Value="Flags.FiHurtUndead">Hurt Undead</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHurtDragon" @bind-Value="Flags.FiHurtDragon">Hurt Dragons</CheckBox>
            <h5>Resistances(Max 3)</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistPoison" @bind-Value="Flags.FiResistPoison">Resist Poison</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistEarth" @bind-Value="Flags.FiResistEarth">Resist Earth</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistDeath" @bind-Value="Flags.FiResistDeath">Resist Death</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistTime" @bind-Value="Flags.FiResistTime">Resist Time</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistStatus" @bind-Value="Flags.FiResistStatus">Resist Status</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistIce" @bind-Value="Flags.FiResistIce">Resist Ice</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistLit" @bind-Value="Flags.FiResistLit">Resist Lit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistFire" @bind-Value="Flags.FiResistFire">Resist Fire</CheckBox>
            <div class="checkbox-cell"></div>
         </div>
        <div class="col2">
             <h5>Weapons And Armor</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiEquipShirt" @bind-Value="Flags.FiEquipShirt">Equip Shirt</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiLegSwords" @bind-Value="Flags.FiLegSwords">Legendary Swords</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiWoodArmor" @bind-Value="Flags.FiWoodArmor">Wood Adept</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiImpCatclaw" @bind-Value="Flags.FiImpCatclaw">Improved Cat Claw</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiImpThor" @bind-Value="Flags.FiImpThor">Improved Thor Hammer</CheckBox>
         <div class="col3">
               <h5>Magic</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiTelemagic" @bind-Value="Flags.FiTelemagic">Tele Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiBuffmagic" @bind-Value="Flags.FiBuffMagic">Buff Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiSelfmagic" @bind-Value="Flags.FiSelfMagic">Self Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHealmagic" @bind-Value="Flags.FiHealMagic">Heal Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHealplusmagic" @bind-Value="Flags.FiHealMagicPlus">Heal Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiElemmagic" @bind-Value="Flags.FiElemMagic">Elemental Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiElemplusmagic" @bind-Value="Flags.FiElemplusMagic">Elemental Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiCleanMagic" @bind-Value="Flags.FiCleanMagic">Clean Magic</CheckBox>
                <h5>Starting Gold Increase</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold200" @bind-Value="Flags.FiStartGold200">+200GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold400" @bind-Value="Flags.FiStartGold400">+400GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold600" @bind-Value="Flags.FiStartGold600">+600GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold800" @bind-Value="Flags.FiStartGold800">+800GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold1500" @bind-Value="Flags.FiStartGold1500">+1500GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold5000" @bind-Value="Flags.FiStartGold5000">+5000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartgold20000" @bind-Value="Flags.FiStartGold20000">+20000GP</CheckBox>
                 <div class="checkbox-cell"></div>
             </div>
         </div>
        </div>
      </div>
    <div id="fighter Strong Bonuses" class="framed-content">
    <h4>Strong Bonuses</h4>
    <div class="row">
        <div class="col1">
            <h5>Stat Increases</h5>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd40Str" @bind-Value="Flags.FiAdd40Str">Plus 40 Str</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd50Agi" @bind-Value="Flags.FiAdd50Agi">Plus 50 Agi</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd40Vit" @bind-Value="Flags.FiAdd40Vit">Plus 40 Vit</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd15Luck" @bind-Value="Flags.FiAdd15Luck">Plus 15 Luck</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd80HP" @bind-Value="Flags.FiAdd80HP">Plus 80 HP</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiMdef2Lvl" @bind-Value="Flags.FiMdef2Lvl">Plus 2 Mdef/Lvl</CheckBox>
                <div class="checkbox-cell"></div>
        </div>
        <div class="col2">
            <h5>Other Bonuses</h5>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiSteelFast" @bind-Value="Flags.FiSteelFast">Steel Lord</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiHurtAll" @bind-Value="Flags.FiHurtAll">Hurt All</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="Fi50XPFiBB" @bind-Value="Flags.Fi50XPFiBB">Plus 50% EXP</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistAll" @bind-Value="Flags.FiResistAll">Resist All</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiResistPEDTS" @bind-Value="Flags.FiResistPEDTS">Resist PEDTS</CheckBox>
                <div class="checkbox-cell"></div>
        </div>
    </div>
</div>
    <div id="fighter maluses" class="framed-content">
        <h4>Maluses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown10Str" @bind-Value="Flags.FiDown10Str">Down 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown20Str" @bind-Value="Flags.FiDown20Str">Down 20 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown10Agi" @bind-Value="Flags.FiDown10Agi">Down 10 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown10Vit" @bind-Value="Flags.FiDown10Vit">Down 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown5Luck" @bind-Value="Flags.FiDown5Luck">Down 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown15HP" @bind-Value="Flags.FiDown15HP">Down 15 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown30HP" @bind-Value="Flags.FiDown30HP">Down 30 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiBMHP" @bind-Value="Flags.FiBMHP">Black Mage HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown1HitPercent" @bind-Value="Flags.FiDown1HitPercent">Down 1% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown1MDef" @bind-Value="Flags.FiDown1MDef">Down 1Mdef/Lvl</CheckBox>
                <h5>Starting Gold Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown50GP" @bind-Value="Flags.FiDown50GP">Minus 50GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown100GP" @bind-Value="Flags.FiDown100GP">Minus 100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown150GP" @bind-Value="Flags.FiDown150GP">Minus 150GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown350GP" @bind-Value="Flags.FiDown350GP">Minus 350GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown1100GP" @bind-Value="Flags.FiDown1100GP">Minus 1100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiDown4500GP" @bind-Value="Flags.FiDown4500GP">Minus 4500GP</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
        <div class="col2">
            <h5>Equipment Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoBracelets" @bind-Value="Flags.FiNoBracelets">No Bracelets</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoMasa" @bind-Value="Flags.FiNoMasa">No Masa</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoRibbon" @bind-Value="Flags.FiNoRibbon">No Ribbon</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoProRing" @bind-Value="Flags.FiNoProRing">No Proring</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiThWeaponMal" @bind-Value="Flags.FiThWeaponMal">Thief Weapons</CheckBox>
            <h5>Promotion Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoFiPromoArmor" @bind-Value="Flags.FiNoFiPromoArmor">No Promotion Armor</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiNoPromoSpells" @bind-Value="Flags.FiNoPromoSpells">No Promotion Spells</CheckBox>
             <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>
   <div id="fighter KI" class="framed-content">
        <h4>Start with Key Items</h4>
        <div class="row">
            <div class="col1">
               
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartCrown" @bind-Value="Flags.FiStartCrown">Crown</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartCrystal" @bind-Value="Flags.FiStartCrystal">Crystal</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartHerb" @bind-Value="Flags.FiStartHerb">Herb</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartTNT" @bind-Value="Flags.FiStartTNT">TNT</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartAdamant" @bind-Value="Flags.FiStartAdamant">Adamant</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartSlab" @bind-Value="Flags.FiStartSlab">Slab</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartRuby" @bind-Value="Flags.FiStartRuby">Ruby</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartRod" @bind-Value="Flags.FiStartRod">Rod</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartChime" @bind-Value="Flags.FiStartChime">Chime</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartCube" @bind-Value="Flags.FiStartCube">Cube</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartBottle" @bind-Value="Flags.FiStartBottle">Bottle</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartOxyale" @bind-Value="Flags.FiStartOxyale">Oxyale</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartLute" @bind-Value="Flags.FiStartLute">Lute</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartTail" @bind-Value="Flags.FiStartTail">Tail</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiStartKey" @bind-Value="Flags.FiStartKey">Key</CheckBox>
                    <div class="checkbox-cell"></div>
            </div>
            </div>
        </div>
    <h3>Thief Blursings</h3>
    <div id="Thief Normal Bonuses" class="framed-content">
        <h4>Normal Bonuses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Increases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd10Str" @bind-Value="Flags.ThAdd10Str">Plus 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd10Str" @bind-Value="Flags.ThAdd20Str">Plus 20 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd15Agi" @bind-Value="Flags.ThAdd15Agi">Plus 15 Agi</CheckBox>
                 <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd25Agi" @bind-Value="Flags.ThAdd25Agi">Plus 25 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd10Vit" @bind-Value="Flags.ThAdd10Vit">Plus 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd20Vit" @bind-Value="Flags.ThAdd20Vit">Plus 20 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd5Luck" @bind-Value="Flags.ThAdd5Luck">Plus 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd10Luck" @bind-Value="Flags.ThAdd10Luck">Plus 10 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd20HP" @bind-Value="Flags.ThAdd20HP">Plus 20 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd40HP" @bind-Value="Flags.ThAdd40HP">Plus 40 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd10PerHit" @bind-Value="Flags.ThAdd10PerHit">10% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="FiAdd20PerHit" @bind-Value="Flags.ThAdd20PerHit">20% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd10Mdef" @bind-Value="Flags.ThAdd10Mdef">Plus 10 Mdef</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd20Mdef" @bind-Value="Flags.ThAdd20Mdef">Plus 20 Mdef</CheckBox>
                <h5>Extra Damage</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThHurtUndead" @bind-Value="Flags.ThHurtUndead">Hurt Undead</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThHurtDragon" @bind-Value="Flags.ThHurtDragon">Hurt Dragons</CheckBox>
                <h5>Resistances(Max 3)</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThResistPoison" @bind-Value="Flags.ThResistPoison">Resist Poison</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThResistEarth" @bind-Value="Flags.ThResistEarth">Resist Earth</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThResistDeath" @bind-Value="Flags.ThResistDeath">Resist Death</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThResistTime" @bind-Value="Flags.ThResistTime">Resist Time</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThResistStatus" @bind-Value="Flags.ThResistStatus">Resist Status</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThResistIce" @bind-Value="Flags.ThResistIce">Resist Ice</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThResistLit" @bind-Value="Flags.ThResistLit">Resist Lit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThResistThre" @bind-Value="Flags.ThResistFire">Resist Fire</CheckBox>
                <h5>Other Bonuses</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThEarlyLockpick" @bind-Value="Flags.ThEarlyLockpick">Early Lockpicking</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThXP50Percent" @bind-Value="Flags.ThXP50Percent">Plus 50% EXP</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <h5>Weapons And Armor</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThEquipShirt" @bind-Value="Flags.ThEquipShirt">Equip Shirt</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThEquipAxe" @bind-Value="Flags.ThEquipAxe">Equip Axe</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThEquipShields" @bind-Value="Flags.ThEquipShields">Equip Shields</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThEquipBonkHelm" @bind-Value="Flags.ThEquipBonkHelm">Equip Helms & Gauntlet</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThRMArmor" @bind-Value="Flags.ThRMArmor">Equip Red Mage Armor</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThLegSwords" @bind-Value="Flags.ThLegSwords">Legendary Swords</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThWoodArmor" @bind-Value="Flags.ThWoodArmor">Wood Adept</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThImpCatclaw" @bind-Value="Flags.ThImpCatclaw">Improved Cat Claw</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThImpThor" @bind-Value="Flags.ThImpThor">Improved Thor Hammer</CheckBox>
                <div class="col3">
                    <h5>Magic</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThTelemagic" @bind-Value="Flags.ThTelemagic">Tele Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThBuffmagic" @bind-Value="Flags.ThBuffMagic">Buff Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThSelfmagic" @bind-Value="Flags.ThSelfMagic">Self Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThHealmagic" @bind-Value="Flags.ThHealMagic">Heal Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThHealplusmagic" @bind-Value="Flags.ThHealMagicPlus">Heal Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThElemmagic" @bind-Value="Flags.ThElemMagic">Elemental Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThElemplusmagic" @bind-Value="Flags.ThElemplusMagic">Elemental Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThCleanMagic" @bind-Value="Flags.ThCleanMagic">Clean Magic</CheckBox>
                    <h5>Starting Gold Increase</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold200" @bind-Value="Flags.ThStartGold200">+200GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold400" @bind-Value="Flags.ThStartGold400">+400GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold600" @bind-Value="Flags.ThStartGold600">+600GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold800" @bind-Value="Flags.ThStartGold800">+800GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold1500" @bind-Value="Flags.ThStartGold1500">+1500GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold5000" @bind-Value="Flags.ThStartGold5000">+5000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold20000" @bind-Value="Flags.ThStartGold20000">+20000GP</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
            </div>
        </div>
    </div>
        <div id="thief Strong Bonuses" class="framed-content">
            <h4>Strong Bonuses</h4>
            <div class="row">
                <div class="col1">
                    <h5>Stat Increases</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd40Str" @bind-Value="Flags.ThAdd40Str">Plus 40 Str</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd50Agi" @bind-Value="Flags.ThAdd50Agi">Plus 50 Agi</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd40Vit" @bind-Value="Flags.ThAdd40Vit">Plus 40 Vit</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThAdd80HP" @bind-Value="Flags.ThAdd80HP">Plus 80 HP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThMdef2Lvl" @bind-Value="Flags.ThMdef2Lvl">Plus 2 Mdef/Lvl</CheckBox>
                    <h5>Weapons and Armor</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThFiWeapons" @bind-Value="Flags.ThFiWeapons">Fighter Weapons</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThFiArmor" @bind-Value="Flags.ThFiArmor">Fighter Armor</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
                <div class="col2">
                    <h5>Other Bonuses</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThHurtAll" @bind-Value="Flags.ThHurtAll">Hurt All</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThResistAll" @bind-Value="Flags.ThResistAll">Resist All</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThResistPEDTS" @bind-Value="Flags.ThResistPEDTS">Resist PEDTS</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThXP100Percent" @bind-Value="Flags.ThXP100Percent">Plus 100% EXP</CheckBox>
                    <h5>Starting Gold</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold1400" @bind-Value="Flags.ThStartgold1400">+1400GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold2000" @bind-Value="Flags.ThStartgold2000">+2000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold3000" @bind-Value="Flags.ThStartgold3000">+3000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold4000" @bind-Value="Flags.ThStartgold4000">+4000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold6000" @bind-Value="Flags.ThStartgold6000">+6000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartgold20000St" @bind-Value="Flags.ThStartgold20000St">+20000GP</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
            </div>
        </div>
    
    <div id="thief maluses" class="framed-content">
        <h4>Maluses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown10Str" @bind-Value="Flags.ThDown10Str">Down 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown10Agi" @bind-Value="Flags.ThDown10Agi">Down 10 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown20Agi" @bind-Value="Flags.ThDown20Agi">Down 20 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown10Vit" @bind-Value="Flags.ThDown10Vit">Down 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown5Luck" @bind-Value="Flags.ThDown5Luck">Down 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown10Luck" @bind-Value="Flags.ThDown10Luck">Down 10 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown15HP" @bind-Value="Flags.ThDown15HP">Down 15 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown30HP" @bind-Value="Flags.ThDown30HP">Down 30 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown1HitPercent" @bind-Value="Flags.ThDown1HitPercent">Down 1% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown1MDef" @bind-Value="Flags.ThDown1MDef">Down 1Mdef/Lvl</CheckBox>
                <h5>Starting Gold Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown50GP" @bind-Value="Flags.ThDown50GP">Minus 50GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown100GP" @bind-Value="Flags.ThDown100GP">Minus 100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown150GP" @bind-Value="Flags.ThDown150GP">Minus 150GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown350GP" @bind-Value="Flags.ThDown350GP">Minus 350GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown1100GP" @bind-Value="Flags.ThDown1100GP">Minus 1100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThDown4500GP" @bind-Value="Flags.ThDown4500GP">Minus 4500GP</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <h5>Equipment Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThNoBracelets" @bind-Value="Flags.ThNoBracelets">No Bracelets</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThNoMasa" @bind-Value="Flags.ThNoMasa">No Masa</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThNoRibbon" @bind-Value="Flags.ThNoRibbon">No Ribbon</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThNoProRing" @bind-Value="Flags.ThNoProRing">No Proring</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThPromoRMArmor" @bind-Value="Flags.ThPromoRmArmor">Red Mage Armor</CheckBox>
                 <h5>Promotion Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThNoPromoSpells" @bind-Value="Flags.ThNoPromoSpells">No Promotion Spells</CheckBox>
                <h5>Other Maluses</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThLateLockPicking" @bind-Value="Flags.ThLateLockPicking">Late Lockpicking</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>
    <div id="thief KI" class="framed-content">
        <h4>Start with Key Items</h4>
        <div class="row">
            <div class="col1">
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartCrown" @bind-Value="Flags.ThStartCrown">Crown</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartCrystal" @bind-Value="Flags.ThStartCrystal">Crystal</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartHerb" @bind-Value="Flags.ThStartHerb">Herb</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartTNT" @bind-Value="Flags.ThStartTNT">TNT</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartAdamant" @bind-Value="Flags.ThStartAdamant">Adamant</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartSlab" @bind-Value="Flags.ThStartSlab">Slab</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartRuby" @bind-Value="Flags.ThStartRuby">Ruby</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartRod" @bind-Value="Flags.ThStartRod">Rod</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartChime" @bind-Value="Flags.ThStartChime">Chime</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartCube" @bind-Value="Flags.ThStartCube">Cube</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartBottle" @bind-Value="Flags.ThStartBottle">Bottle</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartOxyale" @bind-Value="Flags.ThStartOxyale">Oxyale</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartLute" @bind-Value="Flags.ThStartLute">Lute</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartTail" @bind-Value="Flags.ThStartTail">Tail</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="ThStartKey" @bind-Value="Flags.ThStartKey">Key</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>
    <h3>BlackBelt Blursings</h3>
    <div id="blackbelt Normal Bonuses" class="framed-content">

        <h4>Normal Bonuses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Increases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd10Str" @bind-Value="Flags.BBAdd10Str">Plus 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd10Str" @bind-Value="Flags.BBAdd20Str">Plus 20 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd15Agi" @bind-Value="Flags.BBAdd15Agi">Plus 15 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd25Agi" @bind-Value="Flags.BBAdd25Agi">Plus 25 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd10Vit" @bind-Value="Flags.BBAdd10Vit">Plus 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd20Vit" @bind-Value="Flags.BBAdd20Vit">Plus 20 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd5Luck" @bind-Value="Flags.BBAdd5Luck">Plus 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd10Luck" @bind-Value="Flags.BBAdd10Luck">Plus 10 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd20HP" @bind-Value="Flags.BBAdd20HP">Plus 20 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd40HP" @bind-Value="Flags.BBAdd40HP">Plus 40 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd10PerHit" @bind-Value="Flags.BBAdd10PerHit">10% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd20PerHit" @bind-Value="Flags.BBAdd20PerHit">20% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd10Mdef" @bind-Value="Flags.BBAdd10Mdef">Plus 10 Mdef</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd20Mdef" @bind-Value="Flags.BBAdd20Mdef">Plus 20 Mdef</CheckBox>
                <h5>Extra Damage</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBHurtUndead" @bind-Value="Flags.BBHurtUndead">Hurt Undead</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBHurtDragon" @bind-Value="Flags.BBHurtDragon">Hurt Dragons</CheckBox>
                <h5>Resistances(Max 3)</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistPoison" @bind-Value="Flags.BBResistPoison">Resist Poison</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistEarth" @bind-Value="Flags.BBResistEarth">Resist Earth</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistDeath" @bind-Value="Flags.BBResistDeath">Resist Death</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistTime" @bind-Value="Flags.BBResistTime">Resist Time</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistStatus" @bind-Value="Flags.BBResistStatus">Resist Status</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistIce" @bind-Value="Flags.BBResistIce">Resist Ice</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistLit" @bind-Value="Flags.BBResistLit">Resist Lit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistFire" @bind-Value="Flags.BBResistFire">Resist Fire</CheckBox>
            </div>
            <div class="col2">
                <h5>Weapons And Armor</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBEquipAxe" @bind-Value="Flags.BBEquipAxe">Equip Axe</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBEquipShields" @bind-Value="Flags.BBEquipShields">Equip Shields</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBEquipBonkHelm" @bind-Value="Flags.BBEquipBonkHelm">Equip Helms & Gauntlet</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBEquipShirt" @bind-Value="Flags.BBEquipShirt">Equip Shirt</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBRMArmor" @bind-Value="Flags.BBRMArmor">Equip Red Mage Armor</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBThiefWeaponsBonus" @bind-Value="Flags.BBThiefWeaponsBonus">Thief Weapons</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBLegSwords" @bind-Value="Flags.BBLegSwords">Legendary Swords</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBWoodArmor" @bind-Value="Flags.BBWoodArmor">Wood Adept</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBPromoFiarmor" @bind-Value="Flags.BBPromoFiarmor">Promo Fighter Armor</CheckBox>
                <div class="col3">
                    <h5>Magic</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBTelemagic" @bind-Value="Flags.BBTelemagic">Tele Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBBuffmagic" @bind-Value="Flags.BBBuffMagic">Buff Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBSelfmagic" @bind-Value="Flags.BBSelfMagic">Self Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBHealmagic" @bind-Value="Flags.BBHealMagic">Heal Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBHealplusmagic" @bind-Value="Flags.BBHealMagicPlus">Heal Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBElemmagic" @bind-Value="Flags.BBElemMagic">Elemental Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBElemplusmagic" @bind-Value="Flags.BBElemplusMagic">Elemental Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBCleanMagic" @bind-Value="Flags.BBCleanMagic">Clean Magic</CheckBox>
                    <h5>Starting Gold Increase</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartgold200" @bind-Value="Flags.BBStartGold200">+200GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartgold400" @bind-Value="Flags.BBStartGold400">+400GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartgold600" @bind-Value="Flags.BBStartGold600">+600GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartgold800" @bind-Value="Flags.BBStartGold800">+800GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartgold1500" @bind-Value="Flags.BBStartGold1500">+1500GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartgold5000" @bind-Value="Flags.BBStartGold5000">+5000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartgold20000" @bind-Value="Flags.BBStartGold20000">+20000GP</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="blackbelt Strong Bonuses" class="framed-content">
        <h4>Strong Bonuses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Increases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd40Str" @bind-Value="Flags.BBAdd40Str">Plus 40 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd50Agi" @bind-Value="Flags.BBAdd50Agi">Plus 50 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd40Vit" @bind-Value="Flags.BBAdd40Vit">Plus 40 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd15Luck" @bind-Value="Flags.BBAdd15Luck">Plus 15 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBAdd80HP" @bind-Value="Flags.BBAdd80HP">Plus 80 HP</CheckBox>
                <h5>Weapons and Armor</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBFiWeapons" @bind-Value="Flags.BBFiWeapons">Fighter Weapons</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBFiArmor" @bind-Value="Flags.BBFiArmor">Fighter Armor</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <h5>Other Bonuses</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBHurtAll" @bind-Value="Flags.BBHurtAll">Hurt All</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistAll" @bind-Value="Flags.BBResistAll">Resist All</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBResistPEDTS" @bind-Value="Flags.BBResistPEDTS">Resist PEDTS</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BB50XPFiBB" @bind-Value="Flags.BB50XPFiBB">Plus 50% EXP</CheckBox>
            </div>
        </div>
    </div>
    <div id="blackbelt maluses" class="framed-content">
        <h4>Maluses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown10Str" @bind-Value="Flags.BBDown10Str">Down 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown10Agi" @bind-Value="Flags.BBDown10Agi">Down 10 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown10Vit" @bind-Value="Flags.BBDown10Vit">Down 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown20Vit" @bind-Value="Flags.BBDown20Vit">Down 20 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown5Luck" @bind-Value="Flags.BBDown5Luck">Down 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown15HP" @bind-Value="Flags.BBDown15HP">Down 15 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown30HP" @bind-Value="Flags.BBDown30HP">Down 30 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown1HitPercent" @bind-Value="Flags.BBDown1HitPercent">Down 1% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown1MDef" @bind-Value="Flags.BBDown1MDef">Down 1Mdef/Lvl</CheckBox>
                <h5>Starting Gold Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown50GP" @bind-Value="Flags.BBDown50GP">Minus 50GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown100GP" @bind-Value="Flags.BBDown100GP">Minus 100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown150GP" @bind-Value="Flags.BBDown150GP">Minus 150GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown350GP" @bind-Value="Flags.BBDown350GP">Minus 350GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown1100GP" @bind-Value="Flags.BBDown1100GP">Minus 1100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBDown4500GP" @bind-Value="Flags.BBDown4500GP">Minus 4500GP</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <h5>Equipment Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBNoBracelets" @bind-Value="Flags.BBNoBracelets">No Bracelets</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBNoMasa" @bind-Value="Flags.BBNoMasa">No Masa</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBNoRibbon" @bind-Value="Flags.BBNoRibbon">No Ribbon</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBNoProRing" @bind-Value="Flags.BBNoProRing">No Proring</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>
    <div id="blackbelt KI" class="framed-content">
        <h4>Start with Key Items</h4>
        <div class="row">
            <div class="col1">
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartCrown" @bind-Value="Flags.BBStartCrown">Crown</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartCrystal" @bind-Value="Flags.BBStartCrystal">Crystal</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartHerb" @bind-Value="Flags.BBStartHerb">Herb</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartTNT" @bind-Value="Flags.BBStartTNT">TNT</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartAdamant" @bind-Value="Flags.BBStartAdamant">Adamant</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartSlab" @bind-Value="Flags.BBStartSlab">Slab</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartRuby" @bind-Value="Flags.BBStartRuby">Ruby</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartRod" @bind-Value="Flags.BBStartRod">Rod</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartChime" @bind-Value="Flags.BBStartChime">Chime</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartCube" @bind-Value="Flags.BBStartCube">Cube</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartBottle" @bind-Value="Flags.BBStartBottle">Bottle</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartOxyale" @bind-Value="Flags.BBStartOxyale">Oxyale</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartLute" @bind-Value="Flags.BBStartLute">Lute</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartTail" @bind-Value="Flags.BBStartTail">Tail</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BBStartKey" @bind-Value="Flags.BBStartKey">Key</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>
    <h3>Redmage Blursings</h3>
    <div id="redmage Normal Bonuses" class="framed-content">

        <h4>Normal Bonuses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Increases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd10Str" @bind-Value="Flags.RmAdd10Str">Plus 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd10Str" @bind-Value="Flags.RmAdd20Str">Plus 20 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd15Agi" @bind-Value="Flags.RmAdd15Agi">Plus 15 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd25Agi" @bind-Value="Flags.RmAdd25Agi">Plus 25 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd10Vit" @bind-Value="Flags.RmAdd10Vit">Plus 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd20Vit" @bind-Value="Flags.RmAdd20Vit">Plus 20 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd5Luck" @bind-Value="Flags.RmAdd5Luck">Plus 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd10Luck" @bind-Value="Flags.RmAdd10Luck">Plus 10 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd20HP" @bind-Value="Flags.RmAdd20HP">Plus 20 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd40HP" @bind-Value="Flags.RmAdd40HP">Plus 40 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd10PerHit" @bind-Value="Flags.RmAdd10PerHit">10% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd20PerHit" @bind-Value="Flags.RmAdd20PerHit">20% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd10Mdef" @bind-Value="Flags.RmAdd10Mdef">Plus 10 Mdef</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd20Mdef" @bind-Value="Flags.RmAdd20Mdef">Plus 20 Mdef</CheckBox>
                <h5>Extra Damage</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmHurtUndead" @bind-Value="Flags.RmHurtUndead">Hurt Undead</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmHurtDragon" @bind-Value="Flags.RmHurtDragon">Hurt Dragons</CheckBox>
                <h5>Resistances(Max 3)</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmResistPoison" @bind-Value="Flags.RmResistPoison">Resist Poison</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmResistEarth" @bind-Value="Flags.RmResistEarth">Resist Earth</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmResistDeath" @bind-Value="Flags.RmResistDeath">Resist Death</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmResistTime" @bind-Value="Flags.RmResistTime">Resist Time</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmResistStatus" @bind-Value="Flags.RmResistStatus">Resist Status</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmResistIce" @bind-Value="Flags.RmResistIce">Resist Ice</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmResistLit" @bind-Value="Flags.RmResistLit">Resist Lit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmResistFire" @bind-Value="Flags.RmResistFire">Resist Fire</CheckBox>
                <h5>Other Bonuses</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmXP50Percent" @bind-Value="Flags.RmXP50Percent">Plus 50% EXP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmPromoSage" @bind-Value="Flags.RmPromoSage">Promo Sage</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <h5>Weapons And Armor</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmEquipShirt" @bind-Value="Flags.RmEquipShirt">Equip Shirt</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmLegSwords" @bind-Value="Flags.RmLegSwords">Legendary Swords</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmWoodArmor" @bind-Value="Flags.RmWoodArmor">Wood Adept</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmImpCatclaw" @bind-Value="Flags.RmImpCatclaw">Improved Cat Claw</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmEquipAxe" @bind-Value="Flags.RmEquipAxe">Equip Axe</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmEquipShields" @bind-Value="Flags.RmEquipShields">Equip Shields</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmEquipBonkHelm" @bind-Value="Flags.RmEquipBonkHelm">Equip Helms & Gauntlet</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmPromoFiArmor" @bind-Value="Flags.RmPromoFiArmor">Promo Fighter Armor</CheckBox>
                <div class="col3">
                    <h5>Magic</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmLvl1MP2" @bind-Value="Flags.RmLvl1MP2">+2 Charges Level 1</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmMP1All" @bind-Value="Flags.RmMP1All">+1 Charges All Levels</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmTelemagic" @bind-Value="Flags.RmTelemagic">Tele Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmTelemagic" @bind-Value="Flags.RmTelemagic">Tele Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmBuffmagic" @bind-Value="Flags.RmBuffMagic">Buff Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmSelfmagic" @bind-Value="Flags.RmSelfMagic">Self Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmHealmagic" @bind-Value="Flags.RmHealMagic">Heal Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmHealplusmagic" @bind-Value="Flags.RmHealMagicPlus">Heal Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmElemmagic" @bind-Value="Flags.RmElemMagic">Elemental Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmElemplusmagic" @bind-Value="Flags.RmElemplusMagic">Elemental Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmCleanMagic" @bind-Value="Flags.RmCleanMagic">Clean Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDoomMagic" @bind-Value="Flags.RmDoomMagic">Doom Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmNukeMagic" @bind-Value="Flags.RmNukeMagic">Nuke Magic</CheckBox>
                    <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RMAddSpell" @bind-Value="Flags.RMAddSpell">Add Spell</EnumDropDown>
                    @*Will need to add a second and third flag for all three chances*@
                  @* <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RMAddSpell" @bind-Value="Flags.RMAddSpell">Add Spell</EnumDropDown>  
                    <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RMAddSpell" @bind-Value="Flags.RMAddSpell">Add Spell</EnumDropDown>*@ 
                    <h5>Starting Gold Increase</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartgold200" @bind-Value="Flags.RmStartGold200">+200GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartgold400" @bind-Value="Flags.RmStartGold400">+400GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartgold600" @bind-Value="Flags.RmStartGold600">+600GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartgold800" @bind-Value="Flags.RmStartGold800">+800GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartgold1500" @bind-Value="Flags.RmStartGold1500">+1500GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartgold5000" @bind-Value="Flags.RmStartGold5000">+5000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartgold20000" @bind-Value="Flags.RmStartGold20000">+20000GP</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
            </div>
        </div>
    </div>
<div id="redmage Strong Bonuses" class="framed-content">
            <h4>Strong Bonuses</h4>
            <div class="row">
                <div class="col1">
                    <h5>Stat Increases</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd40Str" @bind-Value="Flags.RmAdd40Str">Plus 40 Str</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd50Agi" @bind-Value="Flags.RmAdd50Agi">Plus 50 Agi</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd40Vit" @bind-Value="Flags.RmAdd40Vit">Plus 40 Vit</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd80HP" @bind-Value="Flags.RmAdd80HP">Plus 80 HP</CheckBox>
                     <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmAdd15Luck" @bind-Value="Flags.RmAdd15Luck">Plus 15 Luck</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmMdef2Lvl" @bind-Value="Flags.RmMdef2Lvl">Plus 2 Mdef/Lvl</CheckBox>
                    <h5>Weapons and Armor</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmFiWeapons" @bind-Value="Flags.RmFiWeapons">Fighter Weapons</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmFiArmor" @bind-Value="Flags.RmFiArmor">Fighter Armor</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
                <div class="col2">
                    <h5>Other Bonuses</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmHurtAll" @bind-Value="Flags.RmHurtAll">Hurt All</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmResistAll" @bind-Value="Flags.RmResistAll">Resist All</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmResistPEDTS" @bind-Value="Flags.RmResistPEDTS">Resist PEDTS</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmSage" @bind-Value="Flags.RmSage">Sage</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmXP100Percent" @bind-Value="Flags.RmXP100Percent">Plus 100% EXP</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
            </div>
        </div>
    <div id="redmage maluses" class="framed-content">
        <h4>Maluses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown10Str" @bind-Value="Flags.RmDown10Str">Down 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown10Agi" @bind-Value="Flags.RmDown10Agi">Down 10 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown10Vit" @bind-Value="Flags.RmDown10Vit">Down 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown5Luck" @bind-Value="Flags.RmDown5Luck">Down 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown15HP" @bind-Value="Flags.RmDown15HP">Down 15 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown30HP" @bind-Value="Flags.RmDown30HP">Down 30 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown1HitPercent" @bind-Value="Flags.RmDown1HitPercent">Down 1% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown1MDef" @bind-Value="Flags.RmDown1MDef">Down 1Mdef/Lvl</CheckBox>
                <h5>Starting Gold Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown50GP" @bind-Value="Flags.RmDown50GP">Minus 50GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown100GP" @bind-Value="Flags.RmDown100GP">Minus 100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown150GP" @bind-Value="Flags.RmDown150GP">Minus 150GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown350GP" @bind-Value="Flags.RmDown350GP">Minus 350GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown1100GP" @bind-Value="Flags.RmDown1100GP">Minus 1100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown4500GP" @bind-Value="Flags.RmDown4500GP">Minus 4500GP</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <h5>Equipment Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmNoBracelets" @bind-Value="Flags.RmNoBracelets">No Bracelets</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmNoMasa" @bind-Value="Flags.RmNoMasa">No Masa</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmNoRibbon" @bind-Value="Flags.RmNoRibbon">No Ribbon</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmNoProRing" @bind-Value="Flags.RmNoProRing">No Proring</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmThWeaponMal" @bind-Value="Flags.RmThWeaponMal">Thief Weapons</CheckBox>
                <h5>Magic Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmDown4MaxMP" @bind-Value="Flags.RmDown4MaxMP">Minus 4 Max MP</CheckBox>
                <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="RmRemoveSpell" @bind-Value="Flags.RmRemoveSpell">Unlearnable Spell</EnumDropDown>
                <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>
    <div id="redmage KI" class="framed-content">
        <h4>Start with Key Items</h4>
        <div class="row">
            <div class="col1">
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartCrown" @bind-Value="Flags.RmStartCrown">Crown</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartCrystal" @bind-Value="Flags.RmStartCrystal">Crystal</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartHerb" @bind-Value="Flags.RmStartHerb">Herb</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartTNT" @bind-Value="Flags.RmStartTNT">TNT</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartAdamant" @bind-Value="Flags.RmStartAdamant">Adamant</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartSlab" @bind-Value="Flags.RmStartSlab">Slab</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartRuby" @bind-Value="Flags.RmStartRuby">Ruby</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartRod" @bind-Value="Flags.RmStartRod">Rod</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartChime" @bind-Value="Flags.RmStartChime">Chime</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartCube" @bind-Value="Flags.RmStartCube">Cube</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartBottle" @bind-Value="Flags.RmStartBottle">Bottle</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartOxyale" @bind-Value="Flags.RmStartOxyale">Oxyale</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartLute" @bind-Value="Flags.RmStartLute">Lute</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartTail" @bind-Value="Flags.RmStartTail">Tail</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="RmStartKey" @bind-Value="Flags.RmStartKey">Key</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>
    <h3>Whitemage Blursings</h3>
    <div id="whitemage Normal Bonuses" class="framed-content">

        <h4>Normal Bonuses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Increases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd10Str" @bind-Value="Flags.WmAdd10Str">Plus 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd10Str" @bind-Value="Flags.WmAdd20Str">Plus 20 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd15Agi" @bind-Value="Flags.WmAdd15Agi">Plus 15 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd25Agi" @bind-Value="Flags.WmAdd25Agi">Plus 25 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd10Vit" @bind-Value="Flags.WmAdd10Vit">Plus 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd20Vit" @bind-Value="Flags.WmAdd20Vit">Plus 20 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd5Luck" @bind-Value="Flags.WmAdd5Luck">Plus 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd10Luck" @bind-Value="Flags.WmAdd10Luck">Plus 10 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd20HP" @bind-Value="Flags.WmAdd20HP">Plus 20 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd40HP" @bind-Value="Flags.WmAdd40HP">Plus 40 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd10PerHit" @bind-Value="Flags.WmAdd10PerHit">10% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd20PerHit" @bind-Value="Flags.WmAdd20PerHit">20% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd10Mdef" @bind-Value="Flags.WmAdd10Mdef">Plus 10 Mdef</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd20Mdef" @bind-Value="Flags.WmAdd20Mdef">Plus 20 Mdef</CheckBox>
                <h5>Extra Damage</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmHurtUndead" @bind-Value="Flags.WmHurtUndead">Hurt Undead</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmHurtDragon" @bind-Value="Flags.WmHurtDragon">Hurt Dragons</CheckBox>
                <h5>Resistances(Max 3)</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmResistPoison" @bind-Value="Flags.WmResistPoison">Resist Poison</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmResistEarth" @bind-Value="Flags.WmResistEarth">Resist Earth</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmResistDeath" @bind-Value="Flags.WmResistDeath">Resist Death</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmResistTime" @bind-Value="Flags.WmResistTime">Resist Time</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmResistStatus" @bind-Value="Flags.WmResistStatus">Resist Status</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmResistIce" @bind-Value="Flags.WmResistIce">Resist Ice</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmResistLit" @bind-Value="Flags.WmResistLit">Resist Lit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmResistFire" @bind-Value="Flags.WmResistFire">Resist Fire</CheckBox>
                <h5>Other Bonuses</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmXP50Percent" @bind-Value="Flags.WmXP50Percent">Plus 50% EXP</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <h5>Weapons And Armor</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmEquipShirt" @bind-Value="Flags.WmEquipShirt">Equip Shirt</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmLegSwords" @bind-Value="Flags.WmLegSwords">Legendary Swords</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmWoodArmor" @bind-Value="Flags.WmWoodArmor">Wood Adept</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmEquipAxe" @bind-Value="Flags.WmEquipAxe">Equip Axe</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmEquipShields" @bind-Value="Flags.WmEquipShields">Equip Shields</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmEquipBonkHelm" @bind-Value="Flags.WmEquipBonkHelm">Equip Helms & Gauntlet</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmRMArmor" @bind-Value="Flags.WmRMArmor">Redmage Armor</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmThiefWeaponsBonus" @bind-Value="Flags.WmThiefWeaponsBonus">Thief Weapons</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmPromoFiArmor" @bind-Value="Flags.WmPromoFiArmor">Promo Fighter Armor</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmImpThor" @bind-Value="Flags.WmImpThor">Improved Thor Hammer</CheckBox>
                <div class="col3">
                    <h5>Magic</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmLvl1MP2" @bind-Value="Flags.WmLvl1MP2">+2 Charges Level 1</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmMP1All" @bind-Value="Flags.WmMP1All">+1 Charges All Levels</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmTelemagic" @bind-Value="Flags.WmTelemagic">Tele Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmTelemagic" @bind-Value="Flags.WmTelemagic">Tele Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmBuffmagic" @bind-Value="Flags.WmBuffMagic">Buff Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmSelfmagic" @bind-Value="Flags.WmSelfMagic">Self Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmHealmagic" @bind-Value="Flags.WmHealMagic">Heal Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmHealplusmagic" @bind-Value="Flags.WmHealMagicPlus">Heal Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmElemmagic" @bind-Value="Flags.WmElemMagic">Elemental Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmElemplusmagic" @bind-Value="Flags.WmElemplusMagic">Elemental Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmCleanMagic" @bind-Value="Flags.WmCleanMagic">Clean Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDoomMagic" @bind-Value="Flags.WmDoomMagic">Doom Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmNukeMagic" @bind-Value="Flags.WmNukeMagic">Nuke Magic</CheckBox>
                    <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmAddSpell" @bind-Value="Flags.WmAddSpell">Add Spell</EnumDropDown>
                    @*Will need to add a second and third flag for all three chances*@
                    @* <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmAddSpell" @bind-Value="Flags.WmAddSpell">Add Spell</EnumDropDown>
                    <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmAddSpell" @bind-Value="Flags.WmAddSpell">Add Spell</EnumDropDown>*@
                    <h5>Starting Gold Increase</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartgold200" @bind-Value="Flags.WmStartGold200">+200GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartgold400" @bind-Value="Flags.WmStartGold400">+400GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartgold600" @bind-Value="Flags.WmStartGold600">+600GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartgold800" @bind-Value="Flags.WmStartGold800">+800GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartgold1500" @bind-Value="Flags.WmStartGold1500">+1500GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartgold5000" @bind-Value="Flags.WmStartGold5000">+5000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartgold20000" @bind-Value="Flags.WmStartGold20000">+20000GP</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
            </div>
        </div>
    </div>
<div id="whitemage Strong Bonuses" class="framed-content">
            <h4>Strong Bonuses</h4>
            <div class="row">
                <div class="col1">
                    <h5>Stat Increases</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd40Str" @bind-Value="Flags.WmAdd40Str">Plus 40 Str</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd50Agi" @bind-Value="Flags.WmAdd50Agi">Plus 50 Agi</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd40Vit" @bind-Value="Flags.WmAdd40Vit">Plus 40 Vit</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd80HP" @bind-Value="Flags.WmAdd80HP">Plus 80 HP</CheckBox>
                     <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmAdd15Luck" @bind-Value="Flags.WmAdd15Luck">Plus 15 Luck</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmMdef2Lvl" @bind-Value="Flags.WmMdef2Lvl">Plus 2 Mdef/Lvl</CheckBox>
                    <h5>Weapons and Armor</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmFiWeapons" @bind-Value="Flags.WmFiWeapons">Fighter Weapons</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmFiArmor" @bind-Value="Flags.WmFiArmor">Fighter Armor</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
                <div class="col2">
                    <h5>Other Bonuses</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmHurtAll" @bind-Value="Flags.WmHurtAll">Hurt All</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmResistAll" @bind-Value="Flags.WmResistAll">Resist All</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmResistPEDTS" @bind-Value="Flags.WmResistPEDTS">Resist PEDTS</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmXP100Percent" @bind-Value="Flags.WmXP100Percent">Plus 100% EXP</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
            </div>
        </div>
  <div id="whitemage maluses" class="framed-content">
        <h4>Maluses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown10Str" @bind-Value="Flags.WmDown10Str">Down 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown10Agi" @bind-Value="Flags.WmDown10Agi">Down 10 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown10Vit" @bind-Value="Flags.WmDown10Vit">Down 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown5Luck" @bind-Value="Flags.WmDown5Luck">Down 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown15HP" @bind-Value="Flags.WmDown15HP">Down 15 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown30HP" @bind-Value="Flags.WmDown30HP">Down 30 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown1HitPercent" @bind-Value="Flags.WmDown1HitPercent">Down 1% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown1MDef" @bind-Value="Flags.WmDown1MDef">Down 1Mdef/Lvl</CheckBox>
                <h5>Starting Gold Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown50GP" @bind-Value="Flags.WmDown50GP">Minus 50GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown100GP" @bind-Value="Flags.WmDown100GP">Minus 100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown150GP" @bind-Value="Flags.WmDown150GP">Minus 150GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown350GP" @bind-Value="Flags.WmDown350GP">Minus 350GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown1100GP" @bind-Value="Flags.WmDown1100GP">Minus 1100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown4500GP" @bind-Value="Flags.WmDown4500GP">Minus 4500GP</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <h5>Equipment Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmNoBracelets" @bind-Value="Flags.WmNoBracelets">No Bracelets</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmNoMasa" @bind-Value="Flags.WmNoMasa">No Masa</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmNoRibbon" @bind-Value="Flags.WmNoRibbon">No Ribbon</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmNoProRing" @bind-Value="Flags.WmNoProRing">No Proring</CheckBox>
                <h5>Magic Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmDown4MaxMP" @bind-Value="Flags.WmDown4MaxMP">Minus 4 Max MP</CheckBox>
                <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="WmRemoveSpell" @bind-Value="Flags.WmRemoveSpell">Unlearnable Spell</EnumDropDown>
                <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>

<div id="whitemage KI" class="framed-content">
    <h4>Start with Key Items</h4>
    <div class="row">
        <div class="col1">
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartCrown" @bind-Value="Flags.WmStartCrown">Crown</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartCrystal" @bind-Value="Flags.WmStartCrystal">Crystal</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartHerb" @bind-Value="Flags.WmStartHerb">Herb</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartTNT" @bind-Value="Flags.WmStartTNT">TNT</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartAdamant" @bind-Value="Flags.WmStartAdamant">Adamant</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartSlab" @bind-Value="Flags.WmStartSlab">Slab</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartRuby" @bind-Value="Flags.WmStartRuby">Ruby</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartRod" @bind-Value="Flags.WmStartRod">Rod</CheckBox>
            <div class="checkbox-cell"></div>
        </div>
        <div class="col2">
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartChime" @bind-Value="Flags.WmStartChime">Chime</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartCube" @bind-Value="Flags.WmStartCube">Cube</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartBottle" @bind-Value="Flags.WmStartBottle">Bottle</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartOxyale" @bind-Value="Flags.WmStartOxyale">Oxyale</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartLute" @bind-Value="Flags.WmStartLute">Lute</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartTail" @bind-Value="Flags.WmStartTail">Tail</CheckBox>
            <CheckBox UpdateToolTip="@UpdateToolTipID" Id="WmStartKey" @bind-Value="Flags.WmStartKey">Key</CheckBox>
            <div class="checkbox-cell"></div>
        </div>
    </div>
</div>
    <h3>Blackmage Blursings</h3>
    <div id="blackmage Normal Bonuses" class="framed-content">

        <h4>Normal Bonuses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Increases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd10Str" @bind-Value="Flags.BmAdd10Str">Plus 10 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd10Str" @bind-Value="Flags.BmAdd20Str">Plus 20 Str</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd15Agi" @bind-Value="Flags.BmAdd15Agi">Plus 15 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd25Agi" @bind-Value="Flags.BmAdd25Agi">Plus 25 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd10Vit" @bind-Value="Flags.BmAdd10Vit">Plus 10 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd20Vit" @bind-Value="Flags.BmAdd20Vit">Plus 20 Vit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd5Luck" @bind-Value="Flags.BmAdd5Luck">Plus 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd10Luck" @bind-Value="Flags.BmAdd10Luck">Plus 10 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd20HP" @bind-Value="Flags.BmAdd20HP">Plus 20 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd40HP" @bind-Value="Flags.BmAdd40HP">Plus 40 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd10PerHit" @bind-Value="Flags.BmAdd10PerHit">10% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd20PerHit" @bind-Value="Flags.BmAdd20PerHit">20% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd10Mdef" @bind-Value="Flags.BmAdd10Mdef">Plus 10 Mdef</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd20Mdef" @bind-Value="Flags.BmAdd20Mdef">Plus 20 Mdef</CheckBox>
                <h5>Extra Damage</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmHurtUndead" @bind-Value="Flags.BmHurtUndead">Hurt Undead</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmHurtDragon" @bind-Value="Flags.BmHurtDragon">Hurt Dragons</CheckBox>
                <h5>Resistances(Max 3)</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmResistPoison" @bind-Value="Flags.BmResistPoison">Resist Poison</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmResistEarth" @bind-Value="Flags.BmResistEarth">Resist Earth</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmResistDeath" @bind-Value="Flags.BmResistDeath">Resist Death</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmResistTime" @bind-Value="Flags.BmResistTime">Resist Time</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmResistStatus" @bind-Value="Flags.BmResistStatus">Resist Status</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmResistIce" @bind-Value="Flags.BmResistIce">Resist Ice</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmResistLit" @bind-Value="Flags.BmResistLit">Resist Lit</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmResistFire" @bind-Value="Flags.BmResistFire">Resist Fire</CheckBox>
                <h5>Other Bonuses</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmXP50Percent" @bind-Value="Flags.BmXP50Percent">Plus 50% EXP</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <h5>Weapons And Armor</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmEquipShirt" @bind-Value="Flags.BmEquipShirt">Equip Shirt</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmLegSwords" @bind-Value="Flags.BmLegSwords">Legendary Swords</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmWoodArmor" @bind-Value="Flags.BmWoodArmor">Wood Adept</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmImpCatclaw" @bind-Value="Flags.BmImpCatclaw">Improved Cat Claw</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmEquipAxe" @bind-Value="Flags.BmEquipAxe">Equip Axe</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmEquipShields" @bind-Value="Flags.BmEquipShields">Equip Shields</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmEquipBonkHelm" @bind-Value="Flags.BmEquipBonkHelm">Equip Helms & Gauntlet</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmPromoFiArmor" @bind-Value="Flags.BmPromoFiArmor">Promo Fighter Armor</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmThiefWeaponsBonus" @bind-Value="Flags.BmThiefWeaponsBonus">Thief Weapons</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmRMArmor" @bind-Value="Flags.BmRMArmor">Redmage Armor</CheckBox>
                <div class="col3">
                    <h5>Magic</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmLvl1MP2" @bind-Value="Flags.BmLvl1MP2">+2 Charges Level 1</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmMP1All" @bind-Value="Flags.BmMP1All">+1 Charges All Levels</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmTelemagic" @bind-Value="Flags.BmTelemagic">Tele Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmTelemagic" @bind-Value="Flags.BmTelemagic">Tele Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmBuffmagic" @bind-Value="Flags.BmBuffMagic">Buff Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmSelfmagic" @bind-Value="Flags.BmSelfMagic">Self Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmHealmagic" @bind-Value="Flags.BmHealMagic">Heal Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmHealplusmagic" @bind-Value="Flags.BmHealMagicPlus">Heal Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmElemmagic" @bind-Value="Flags.BmElemMagic">Elemental Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmElemplusmagic" @bind-Value="Flags.BmElemplusMagic">Elemental Plus Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmCleanMagic" @bind-Value="Flags.BmCleanMagic">Clean Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDoomMagic" @bind-Value="Flags.BmDoomMagic">Doom Magic</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmNukeMagic" @bind-Value="Flags.BmNukeMagic">Nuke Magic</CheckBox>
                    <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmAddSpell" @bind-Value="Flags.BmAddSpell">Add Spell</EnumDropDown>
                    @*Will need to add a second and third flag for all three chances*@
                    @* <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmAddSpell" @bind-Value="Flags.BmAddSpell">Add Spell</EnumDropDown>
                    <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmAddSpell" @bind-Value="Flags.BmAddSpell">Add Spell</EnumDropDown>*@
                    <h5>Starting Gold Increase</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartgold200" @bind-Value="Flags.BmStartGold200">+200GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartgold400" @bind-Value="Flags.BmStartGold400">+400GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartgold600" @bind-Value="Flags.BmStartGold600">+600GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartgold800" @bind-Value="Flags.BmStartGold800">+800GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartgold1500" @bind-Value="Flags.BmStartGold1500">+1500GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartgold5000" @bind-Value="Flags.BmStartGold5000">+5000GP</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartgold20000" @bind-Value="Flags.BmStartGold20000">+20000GP</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
            </div>
        </div>
    </div>
<div id="blackmage Strong Bonuses" class="framed-content">
            <h4>Strong Bonuses</h4>
            <div class="row">
                <div class="col1">
                    <h5>Stat Increases</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd40Str" @bind-Value="Flags.BmAdd40Str">Plus 40 Str</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd50Agi" @bind-Value="Flags.BmAdd50Agi">Plus 50 Agi</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd40Vit" @bind-Value="Flags.BmAdd40Vit">Plus 40 Vit</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd80HP" @bind-Value="Flags.BmAdd80HP">Plus 80 HP</CheckBox>
                     <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmAdd15Luck" @bind-Value="Flags.BmAdd15Luck">Plus 15 Luck</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmMdef2Lvl" @bind-Value="Flags.BmMdef2Lvl">Plus 2 Mdef/Lvl</CheckBox>
                    <h5>Weapons and Armor</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmFiWeapons" @bind-Value="Flags.BmFiWeapons">Fighter Weapons</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmFiArmor" @bind-Value="Flags.BmFiArmor">Fighter Armor</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
                <div class="col2">
                    <h5>Other Bonuses</h5>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmHurtAll" @bind-Value="Flags.BmHurtAll">Hurt All</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmResistAll" @bind-Value="Flags.BmResistAll">Resist All</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmResistPEDTS" @bind-Value="Flags.BmResistPEDTS">Resist PEDTS</CheckBox>
                    <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmXP100Percent" @bind-Value="Flags.BmXP100Percent">Plus 100% EXP</CheckBox>
                    <div class="checkbox-cell"></div>
                </div>
            </div>
        </div>
    <div id="whitemage maluses" class="framed-content">
        <h4>Maluses</h4>
        <div class="row">
            <div class="col1">
                <h5>Stat Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown10Agi" @bind-Value="Flags.BmDown10Agi">Down 10 Agi</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown5Luck" @bind-Value="Flags.BmDown5Luck">Down 5 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown10Luck" @bind-Value="Flags.BmDown10Luck">Down 10 Luck</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown15HP" @bind-Value="Flags.BmDown15HP">Down 15 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown30HP" @bind-Value="Flags.BmDown30HP">Down 30 HP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown1HitPercent" @bind-Value="Flags.BmDown1HitPercent">Down 1% Hit/Lvl</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown1MDef" @bind-Value="Flags.BmDown1MDef">Down 1Mdef/Lvl</CheckBox>
                <h5>Starting Gold Decreases</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown50GP" @bind-Value="Flags.BmDown50GP">Minus 50GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown100GP" @bind-Value="Flags.BmDown100GP">Minus 100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown150GP" @bind-Value="Flags.BmDown150GP">Minus 150GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown350GP" @bind-Value="Flags.BmDown350GP">Minus 350GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown1100GP" @bind-Value="Flags.BmDown1100GP">Minus 1100GP</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown4500GP" @bind-Value="Flags.BmDown4500GP">Minus 4500GP</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <h5>Equipment Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmNoBracelets" @bind-Value="Flags.BmNoBracelets">No Bracelets</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmNoMasa" @bind-Value="Flags.BmNoMasa">No Masa</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmNoRibbon" @bind-Value="Flags.BmNoRibbon">No Ribbon</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmNoProRing" @bind-Value="Flags.BmNoProRing">No Proring</CheckBox>
                <h5>Magic Restrictions</h5>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmDown4MaxMP" @bind-Value="Flags.BmDown4MaxMP">Minus 4 Max MP</CheckBox>
                <EnumDropDown UpdateToolTip="@UpdateToolTipID" Id="BmRemoveSpell" @bind-Value="Flags.BmRemoveSpell">Unlearnable Spell</EnumDropDown>
                <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>

    <div id="blackmage KI" class="framed-content">
        <h4>Start with Key Items</h4>
        <div class="row">
            <div class="col1">
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartCrown" @bind-Value="Flags.BmStartCrown">Crown</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartCrystal" @bind-Value="Flags.BmStartCrystal">Crystal</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartHerb" @bind-Value="Flags.BmStartHerb">Herb</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartTNT" @bind-Value="Flags.BmStartTNT">TNT</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartAdamant" @bind-Value="Flags.BmStartAdamant">Adamant</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartSlab" @bind-Value="Flags.BmStartSlab">Slab</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartRuby" @bind-Value="Flags.BmStartRuby">Ruby</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartRod" @bind-Value="Flags.BmStartRod">Rod</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
            <div class="col2">
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartChime" @bind-Value="Flags.BmStartChime">Chime</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartCube" @bind-Value="Flags.BmStartCube">Cube</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartBottle" @bind-Value="Flags.BmStartBottle">Bottle</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartOxyale" @bind-Value="Flags.BmStartOxyale">Oxyale</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartLute" @bind-Value="Flags.BmStartLute">Lute</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartTail" @bind-Value="Flags.BmStartTail">Tail</CheckBox>
                <CheckBox UpdateToolTip="@UpdateToolTipID" Id="BmStartKey" @bind-Value="Flags.BmStartKey">Key</CheckBox>
                <div class="checkbox-cell"></div>
            </div>
        </div>
    </div>












</div>









@code {
    private LeaugeFlagsViewModel Flags { get; set; } = new LeaugeFlagsViewModel();
    private string ToolTipId = "unupdated";
    private ToolTip ToolTipElement;
    private string StatusMessage = "";



    private void UpdateToolTipID(string Id, MouseEventArgs e)
    {
        ToolTipId = Id;
        ToolTipElement.UpdatePos(ToolTipId, e);
        StateHasChanged();
    }

    void SetStatusMessage(string message)
    {
        StatusMessage = message;
        StateHasChanged();
    }

}

